<div class="row justify-content-start">
  <div class="col">
    <button
      class="link-button"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      align="center"
      role="button"
    >
      <i class="bi bi-arrow-left"></i>
      Home Page
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="main">
      <p class="sign" align="center">Acceder</p>
      <form class="form1">
        <input
          class="un"
          type="text"
          align="center"
          placeholder="Nombre de usuario"
          name="username"
          [(ngModel)]="username"
        />
        <input
          class="pass"
          type="password"
          align="center"
          placeholder="Contraseña"
          name="password"
          [(ngModel)]="password"
        />
        <a class="submit" align="center" (click)="login()">Log in</a>
        <p class="forgot" align="center">
          <a routerLink="/auth/register">¿No tienes cuenta?</a>
        </p>
      </form>
    </div>
  </div>
</div>
